<h1 class="text-2xl font-bold mb-4">List of Professionals</h1>

<table class="table-auto w-full">
  <thead>
    <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
      <th class="py-3 px-6 text-left">Name</th>
      <th class="py-3 px-6 text-left">Phone</th>
      <th class="py-3 px-6 text-left">Email</th>
      <th class="py-3 px-6 text-center">Actions</th>
    </tr>
  </thead>
  <tbody class="text-gray-600 text-sm font-light">
    <% @professionals.each do |professional| %>
      <tr class="border-b border-gray-200 hover:bg-gray-100">
        <td class="py-3 px-6 text-left whitespace-nowrap"><%= professional.name %></td>
        <td class="py-3 px-6 text-left"><%= professional.phone %></td>
        <td class="py-3 px-6 text-left"><%= professional.email %></td>
        <td class="py-3 px-6 text-center">
          <div class="flex item-center justify-center space-x-4">
            <%= link_to professional_path(professional), class: 'text-purple-500 hover:text-purple-700' do %>
              <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
              </svg>
            <% end %>
            <%= link_to events_professional_path(professional), class: 'text-purple-500 hover:text-purple-700' do %>
              <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01" />
              </svg>
            <% end %>
            <%= link_to edit_professional_path(professional), class: 'text-blue-500 hover:text-blue-700' do %>
              <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
              </svg>
            <% end %>
            <%= button_to professional_path(professional), method: :delete do %>
              <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
              </svg>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Nuevo Profesional', new_professional_path, class: 'bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded mt-4 inline-block' %>
