<h1 class="text-3xl font-bold mb-6 text-center">Enronda Sessions</h1>

<% if @events.empty? || @events.nil? || @events == [] %>
  <p class="text-purple-600 text-center mt-4">No events found</p>
<% else %>
  <div class="flex justify-center my-4">
    Total: <%= @events_count %> events | 
    <%= will_paginate @events, class: "pagination" %> |
  </div>
  <div class="overflow-x-auto mt-4">
    <table class="min-w-full bg-white border border-purple-400">
      <thead>
        <tr>
          <th class="py-3 px-4 border-b border-purple-200 bg-purple-100 text-left text-xs font-semibold text-purple-600 uppercase tracking-wider">Event Name</th>
          <th class="py-3 px-4 border-b border-purple-200 bg-purple-100 text-left text-xs font-semibold text-purple-600 uppercase tracking-wider">Start Time</th>
          <th class="py-3 px-4 border-b border-purple-200 bg-purple-100 text-left text-xs font-semibold text-purple-600 uppercase tracking-wider">Status</th>
          <th class="py-3 px-4 border-b border-purple-200 bg-purple-100 text-left text-xs font-semibold text-purple-600 uppercase tracking-wider">Created At</th>
          <th class="py-3 px-4 border-b border-purple-200 bg-purple-100 text-left text-xs font-semibold text-purple-600 uppercase tracking-wider">End Time</th>
          <th class="py-3 px-4 border-b border-purple-200 bg-purple-100 text-left text-xs font-semibold text-purple-600 uppercase tracking-wider">User Email</th>
          <th class="py-3 px-4 border-b border-purple-200 bg-purple-100 text-left text-xs font-semibold text-purple-600 uppercase tracking-wider">User Name</th>
        </tr>
      </thead>
      <tbody>
        <% @events.each do |event| %>
          <tr class="hover:bg-purple-50">
            <td class="py-3 px-4 border-b border-purple-200"><%= event['name'] %></td>
            <td class="py-3 px-4 border-b border-purple-200"><%= Time.parse(event['start_time']).in_time_zone("America/Argentina/Buenos_Aires").strftime("%Y-%m-%d %H:%M") %></td>
            <td class="py-3 px-4 border-b border-purple-200"><%= event['status'].capitalize %></td>
            <td class="py-3 px-4 border-b border-purple-200"><%= Time.parse(event['created_at']).in_time_zone("America/Argentina/Buenos_Aires").strftime("%Y-%m-%d %H:%M") %></td>
            <td class="py-3 px-4 border-b border-purple-200"><%= Time.parse(event['end_time']).in_time_zone("America/Argentina/Buenos_Aires").strftime("%Y-%m-%d %H:%M") %></td>
            <td class="py-3 px-4 border-b border-purple-200"><%= event['event_memberships'][0]['user_email'] %></td>
            <td class="py-3 px-4 border-b border-purple-200"><%= event['event_memberships'][0]['user_name'] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    <div class="flex justify-center my-4">
      Total: <%= @events_count %> events | 
      <%= will_paginate @events, class: "pagination" %> |
    </div>
  </div>
<% end %>
