<!DOCTYPE html>
<html>
<head>
  <title>Enronda Backoffice</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <%= stylesheet_link_tag "tailwind", "inter-font" %>
  <%= stylesheet_link_tag "application" %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>

<body class="bg-gray-100">
  <header class="bg-gradient-to-r from-purple-600 to-purple-800 text-white shadow-md">
    <div class="container mx-auto px-4 py-3 sm:py-4">
      <div class="flex justify-between items-center">
        <div class="flex items-center">
          <%= link_to root_path, class: "flex items-center" do %>
            <%= image_tag 'redondo_white.png', alt: 'Enronda Logo', style: 'width: 50px; height: 50px;'%>
            <span class="text-2xl font-bold text-white">Enronda</span>
          <% end %>
        </div>
        
        <nav class="flex items-center space-x-4">
          <% if user_signed_in? %>
            <%= link_to 'Home', root_path, class: 'text-white hover:text-purple-200 transition duration-150 ease-in-out' %>
            <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: "bg-purple-500 hover:bg-purple-400 text-white font-semibold py-2 px-4 rounded-lg shadow-md hover:shadow-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105" %>
          <% else %>
            <%= link_to 'Login', new_user_session_path, class: "bg-white text-purple-600 hover:bg-purple-100 font-semibold py-2 px-4 rounded-lg shadow-md hover:shadow-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105" %>
          <% end %>
        </nav>
      </div>
    </div>
  </header>

  <div class="container mx-auto px-4 py-8">
    <main class="mb-8">
      <% flash.each do |key, value| %>
        
      <% end %>
      <%= yield %>
    </main>
  </div>

  <footer class="bg-gray-200 py-4 text-center rounded-t-lg fixed bottom-0 w-full left-0">
    <%= render 'layouts/footer' %>
  </footer>

</body>
</html>
