<!DOCTYPE html>
<html>
<head>
  <title>Enronda Backoffice</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>

<body class="bg-gray-100">
  <header class="bg-purple-600 text-white py-4">
    <div class="container mx-auto flex justify-between items-center">
      <div class="text-2xl font-bold text-white">
        Enronda
      </div>
      <div>
      <%= link_to 'Home', root_path, class: 'bg-purple-800 hover:bg-purple-500 text-white font-medium py-2 px-4 rounded-md' %>
      <%= link_to 'Enronda Sessions', calendly_events_path, class: 'bg-purple-800 hover:bg-purple-500 text-white font-medium py-2 px-4 rounded-md' %>
      <%= link_to 'List of Professionals', professionals_path, class: 'bg-purple-800 hover:bg-purple-500 text-white font-medium py-2 px-4 rounded-md' %>
      <%= link_to "All Professional's Events", calendly_all_path, class: 'bg-purple-800 hover:bg-purple-500 text-white font-medium py-2 px-4 rounded-md' %>
      </div>
      <div>
        
      <div>
        <% if user_signed_in? %>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "bg-purple-700 hover:bg-purple-500 text-white font-bold py-2 px-4 rounded" %>
        <% else %>
          <%= link_to 'Login', new_user_session_path, class: "bg-purple-700 hover:bg-purple-500 text-white font-bold py-2 px-4 rounded" %>
        <% end %>
      </div>
    </div>
  </header>

  <div class="container mx-auto px-4 py-8">
    <main class="mb-8">
      <% flash.each do |key, value| %>
        
      <% end %>
      <%= yield %>
    </main>
  </div>

  <footer class="bg-gray-200 py-4 text-center rounded-t-lg fixed bottom-0 w-full left-0">
    <%= render 'layouts/footer' %>
  </footer>

  <%= javascript_include_tag "application", crossorigin: "anonymous", "data-turbo-track": "reload" %>
</body>
</html>
